<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="main1.css">
</head>

<body>
<div class="width">
	<h1>MovieFlix</h1>
</div>


<ul class="topnav">
  <li><a  href="#home">Home</a></li>
  <li><a class="active" href="addmovie.html">Add Movie</a></li>
  <li><a href="#contact">Delete Movie</a></li>
  <li class="right"><a href="login.html">Sign Out</a></li>
</ul>

<div style="padding:0 16px;">
  
</div>
<div>
	<br><br>
</div>

<div class="add-block">
<h1>Add Movie</h1>
  <input style="width: 15%" type="text" value="" placeholder="ImdbID" id="iId" />
  <input style="width: 20%" type="text" value="" placeholder="Genre" id="genre" />
  <input style="width: 15%" type="text" value="" placeholder="Imdb Rate" id="rate" /><br>
    <input type="text" value="" placeholder="Movie Name" id="Mname" />
    <input type="text" value="" placeholder="Director" id="director" />
    
    <input type="text" value="" placeholder="Release Year" id="ryear" />
    <input type="text" value="" placeholder="Release Date" id="rdate" />
    
    <input type="text" value="" placeholder="Language" id="lang" /><br>
    <button>Add</button><br>
</div>
</body>
</html>