<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="main1.css">
</head>

<body>
<div class="width">
	<h1>MovieFlix</h1>
</div>


<ul class="topnav">
  <li><a class="active" href="adminHome.html">Home</a></li>
  <li><a href="adminAddMovie.html">Add Movie</a></li>
  <li><a href="adminDelete.html">Delete Movie</a></li>
  <li class="right"><a href="login.html">Sign Out</a></li>
</ul>

<div style="padding:0 16px;">
  
</div>
<div>
	<br><br>
</div>
<div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="imgs/xmen.jpg">
      <img src="imgs/xmen.jpg" alt="Xmen" width="300" height="200">
    </a>
    <div class="desc">Xmen</div>
  </div>
</div>


<div class="responsive">
  <div class="img">
    <a target="_blank" href="imgs/junglebook.jpg">
      <img src="imgs/junglebook.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">The Junglebook</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="imgs/titanic.jpg">
      <img src="imgs/titanic.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="imgs/martian.jpg">
      <img src="imgs/martian.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>
</div>
<br><br>

</div>

</body>
</html>