<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="main1.css">
</head>

<body>
<div class="width">
	<h1>MovieFlix</h1>
</div>


<ul class="topnav">
  <li><a  href="adminHome.html">Home</a></li>
  <li><a  href="adminAddMovie.html">Add Movie</a></li>
  <li><a  class="active" href="adminDelete.html">Delete Movie</a></li>
  <li class="right"><a href="login.html">Sign Out</a></li>
</ul>

<div style="padding:0 16px;">
  
</div>
<div>
	<br><br>
</div>

<div class="add-block">
<h1>Delete Movie</h1>
  <input style="width: 15%" type="text" value="" placeholder="ImdbID" id="iId" />
  <br>
    <button style="width: 10%">Delete</button><br>
</div>
</body>
</html>