<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="user.css">
</head>

<body>

<div class="width">
	<h1>MovieFlix</h1>
</div>
<ul class="topnav">  
  <li class="right"><a href="User.html">Back</a></li>
</ul>

<div style="padding:0 16px;">
  
</div>
<div>
	<br><br>
</div>

<div >
  <table class="top" >
  <tr>
    <th><u><b> Comments</b> </u>    </th>
  </tr>
  <tr>
    <th>Harry Potter<p>nice movie.....</p></th>
   
  </tr>
  
  <tr>
    <th>Batman<p>kids like it so much</p></th>
    
  </tr>
  <tr>
    <th>Supperman<p>Superman is a fictional superhero appearing in American comic books published by DC Comics. </p></th>
  </tr>
  
  
</table>
  <textarea rows="4" cols="50">

</textarea><br>
<button>Add Comment</button>

    
  
  


</div>



</body>
</html>