<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="user.css">
</head>

<body>
<div class="width" >
	<h1>MovieFlix</h1>
</div>


<ul class="topnav">
  <li><a class="active" href="User.html">Home</a></li>
  <li><a  href="ratedMovie.html">Top Rated Movies</a></li> 
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Sort by</a>
    <div class="dropdown-content" id="myDropdown">
      <a href="byImdbRate.html">IMDB rate</a>
      <a href="byYear.html">Year</a>
      
    </div>
  </li>
<!--  <li><a href="byImdbRate.html">By Imdb Rate</a></li>
<!-- <li><a  href="byYear.html">By Year</a></li> -->
  
  <li class="right"><a href="login.html">Sign Out</a></li>
</ul>

<div style="padding:0 16px;">
  
</div>
<div>
	<br><br>
</div>


<div >
<div class="responsive" >
  <div class="img">
    <a target="_blank" href="imgs/xmen.jpg">
      <img src="imgs/xmen.jpg" alt="Xmen" width="300" height="200">
    </a>
    <div class="desc">Xmen </div>
    <div style="text-align: center;">
    <a href="readmore.html" >Read More</a>
    </div>

    <div style="text-align:center;">
    <a href="comment.html" >Comments</a>
    </div>
    <div class="ratings">
                                <p class="pull-right">6 reviews</p>

                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>

  </div>
</div>


<div class="responsive">
  <div class="img">
    <a target="_blank" href="imgs/junglebook.jpg">
      <img src="imgs/junglebook.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">The Junglebook</div>
    <div style="text-align: center;">
    <a href="readmore.html" >Read More</a>
    </div>
    <div style="text-align: center;">
    <a href="comment.html" >Comments</a>
    </div>
    <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="imgs/titanic.jpg">
      <img src="imgs/titanic.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Titanic</div>
    <div style="text-align: center;">
    <a href="readmore.html" >Read More</a>
    </div>
    <div style="text-align: center;">
    <a href="comment.html" >Comments</a>
    </div>
    <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="imgs/martian.jpg">
      <img src="imgs/martian.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Martian</div>
    <div style="text-align: center;">
    <a href="readmore.html">Read More</a>
    </div>
    <div style="text-align: center;">
    <a href="comment.html" >Comments</a>
    </div>
    <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
  </div>
</div>
</div>
<br><br>




</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var d = 0; d < dropdowns.length; d++) {
      var openDropdown = dropdowns[d];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


</body>
</html>